.boton-microfono{
    height: 6rem;
    width: 6rem;
    font-size: 1.9rem;
    border-radius: 100% !important;
    background-color: #031d3e;
    border: 3px solid #2f69b4;
    margin-top: 4rem;
}
.nav.nav-tabs{
    margin-top: 2rem !important;
}
.bg-blue{
    background-color: #031d3e;
}
.mostrar-texto-escuchado{
    margin-top: 2rem;
    height: 40rem;
    border: 2px solid rgba(255,255,255,0.1);
    overflow: scroll;
    overflow-x: hidden;
}

.mostrar-texto-escuchado::-webkit-scrollbar:vertical {
    width:10px;
}

.mostrar-texto-escuchado::-webkit-scrollbar-button:increment,.mostrar-texto-escuchado::-webkit-scrollbar-button {
    display: none;
} 

.mostrar-texto-escuchado::-webkit-scrollbar:horizontal {
    height: 10px;
}

.mostrar-texto-escuchado::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.mostrar-texto-escuchado::-webkit-scrollbar-track {
    border-radius: 10px;  
}